.logo {
    width: 100px;
    float: center;

}
.backgrounds {
    width: 300px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}


em {
    color: red;
    font-weight: bold;
}
body {     
    background-image: linear-gradient(rgb(105, 105, 241), rgb(40, 172, 132), red);
}
.websitebutton {
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 50px;
    border: 10px;
    background-color: rgb(56, 56, 215);

}
.box {
    height: 150px;
    width: 1100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid rgb(0, 30, 128);
    background-color: rgb(129, 129, 232);
}
.grid {
    display: grid;
    grid-template-columns: 2fr  2fr;
    grid-template-rows: 300px 300px;
}
.LEGOBox {
    height: 200px;
    width: 300px;
    padding: 20px;
    margin: 50px;
    border: 10px solid red;
    
}
.PokeBox {
    height: 200px;
    width: 300px;
    padding: 20px;
    margin: 50px;
    border: 10px solid blue;
}
.Boardgamebox {
    height: 200px;
    width: 300px;
    padding: 20px;
    margin: 50px;
    border: 10px solid yellow;
}
.phonebox{
    height: 200px;
    width: 300px;
    padding: 20px;
    margin: 50px;
    border: 10px solid green;
}