.logo {
    width: 100px;
    float: center;

}
em {
    color: red;
    font-weight: bold;
}
body {
    background-image: "images/toybackground1.jpg";
}
.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: red;
}